
body {
    margin: 0;
    padding: 0;
}

.promo-banner {
  background-color: white;      
  color: black;                 
  text-align: center;           
  padding: 15px 0;              
  font-size: 10px;            
  font-weight: bold;       
  font-family: Arial, Helvetica, sans-serif;     
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
}

  .header h1 {
    margin: 0;
  }
  .search-section {
    width: 100%;
    padding: 20px 40px;
    background: #111; 
    display: flex;
    justify-content: center;
  }

  
  .search-flex {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .search-wrapper {
    position: relative;
  }

  .search-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
    font-size: 18px;
    pointer-events: none;
  }
  .search-input {
    padding: 12px 18px 12px 40px;
    width: 320px;
    border: none;
    background: #222;
    color: #fff;
    border-radius: 30px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
  }

  .search-input::placeholder {
    color: #888;
  }
  .search-input:hover {
    background: #2a2a2a;
    transform: scale(1.02);
  }

  .search-input:focus {
    background: #333;
    transform: scale(1.03);
    box-shadow: 0 0 10px rgba(255,255,255,0.15);
  }
  .icons {
    display: flex;
    gap: 10px;
  }

  .icon {
    padding: 10px 14px;
    background: #222;
    border-radius: 50%;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
  }
  .icon:hover {
    background: #333;
    transform: scale(1.15);
    box-shadow: 0 0 8px rgba(255,255,255,0.2);
  }
.header {
    position: sticky;
    top: 0;
    background-color: black;
    color: white;
    padding: 1%;
    padding-top: 50px;
    display: flex;
    text-align: center;
    font-size: 15px;
    z-index: 1000;
}
.headlogo {
    height: 30px;
    width: 30px;
    justify-content: flex-start;
    padding-left: 30px;
     transform: translateY(-8px);

}
.nav-links {
  padding-left: 100px;
}
.head {
     color: white;
     margin-left: 10px; 
     margin-right: 10px;
     padding: 20px;
     text-align: left;
     margin-left: 0px;
     margin-right: 0px;
     text-decoration: none;
     font-family:Arial, Helvetica, sans-serif;
}

.head:hover {
    color: #D3D3D3;
    text-decoration: underline;
}
.slideshow {
   width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;
}

.slideshow img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  animation: slide 9s infinite;
}
.slideshow img:nth-child(1) { animation-delay: 0s; }
.slideshow img:nth-child(2) { animation-delay: 3s; }
.slideshow img:nth-child(3) { animation-delay: 6s; }

@keyframes slide {
  0%   { opacity: 0; }
  10%  { opacity: 1; }
  33%  { opacity: 1; }
  43%  { opacity: 0; }
  100% { opacity: 0; }
}
.background {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;   
  height: 100vh;
  object-fit: cover; 
  z-index: -1; 
}

.shop-now {
        position: absolute;
    top: 50%;           
    left: 50%;         
    transform: translate(-50%, -50%); 
    padding: 15px 40px;  
    background: #1C1917;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 5px 12px rgba(0,0,0,0.3);
    cursor: pointer;
    text-decoration: none;
}
.shop-now:hover {
     background: #460809;       
    transform: translate(-50%, -50%) scale(1.05); 
    box-shadow: 0 8px 16px rgba(0,0,0,0.4);
}
.white {
  background-color: white;
}
.black-section {
  background-color: black;
  color: white;                     
  padding: 50px;
  top: -20px;
  height: 40vh;                 
}
.title {
    font-size: 100px;
    position: relative;
    font-family: fantasy;
}
.white-section {
    height: 10vh;
    background-color: black;
    padding: 70px;
    text-align: center;
    color: #71717B;
}

.product-vertical {
  display: flex;             
  justify-content: center;    
  gap: 20px;                 
  margin-top: 20px;
  padding: 10px;
}

.product {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    transition: 0.3s ease;
}
.img-box {
    background: #fff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: 0.3s ease;
}
.img-box img {
    width: 100%;
    transition: 0.3s ease;
}
.product:hover .img-box {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);

}
.product h3 {
    margin-top: 15px;
    font-size: 16px;
    transition: 0.3s ease;

}
.product:hover h3 {
    text-decoration: underline;

}
.price {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
    font-weight: bold;

}
 .message-us {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: black;
    padding: 12px 20px;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    z-index: 999; 
  }

  .message-us a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-family: Arial, sans-serif;
  }

  .message-us:hover {
    transform: scale(1.05);
    transition: 0.2s ease;
    cursor: pointer;
  }
  .top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #111;
    padding: 15px 40px;
    box-shadow: 0 2px 8px rgba(255,255,255,0.05);
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  .logo {
    height: 45px;
    width: auto;
  }
  .header-center {
    flex: 1;
    display: flex;
    justify-content: center;
  }

   .discount-banner {
    width: 100%;
    background: #800000 ; 
    color: #fff;        
    text-align: center;
    padding: 12px 0;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 700;
    border-top: 1px solid #aa0000;
    border-bottom: 1px solid #aa0000;
  }

  .flash {
    animation: flashAnim 1s infinite;
  }

  @keyframes flashAnim {
    0% { opacity: 1; }
    50% { opacity: 0.3; }
    100% { opacity: 1; }
  }

  .discount-banner:hover {
    background: #b30000; 
    transition: 0.3s;
  }
.header .nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  position: relative;
}

.header .nav-links li {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;           /* below header */
  left: 0;             /* aligned to parent link */
  background: #222;
  padding: 10px 0;
  min-width: 150px;    /* enough for the text */
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  z-index: 100;
  text-align: left;
}
.dropdown-content a {
  display: block;
  padding: 8px 15px;
  color: #ddd;
  text-decoration: none;
  font-weight: 600;
  font-size: 10px;
  transition: 0.3s;
}

.dropdown-content a:hover {
  color: #fff;
  background: #333;
  padding-left: 20px; 
}

.dropdown:hover .dropdown-content {
  display: block;
}
html,body { height:100%; margin:0; }

.hero {
  background-image: url('aboutbackground.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  text-align: center;
  padding: 2rem;
}
.hero { background-color: #222; }
.aboutparagraph {
  margin-left: 200px;  
  margin-right: 200px;
  line-height: 2;
}
.black {
    background-color: black;
    color: white;
    padding: 40px 20px;   
    line-height: 2;
}

.layout {
  display: flex;
  gap: 30px;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: white;
}


.sidebar {
  width: 220px;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-list li {
  margin: 10px 0;
}

.menu-list a {
  text-decoration: none;
  color: #333;
  font-size: 15px;
}

.menu-list a:hover {
  text-decoration: underline;
}

.product-grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.product-card img {
  width: 100%;
  border-radius: 4px;
  display: block;
}

.product-card h4 {
  margin: 8px 0 3px;
  font-size: 16px;
}

.product-card p {
  margin: 0 0 5px;
  font-size: 14px;
  color: #666;
}

.price {
  font-weight: bold;
  font-size: 15px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('aboutbackground.jpg') center/cover no-repeat fixed;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.card {
    background: #111;
    padding: 40px;
    width: 380px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
    text-align: center;  
    padding-top: 100px;
    padding-bottom: 100px;
    color: white;
}

.logo {
    font-size: 22px;
    color: #bbb;
    margin-bottom: 25px;
}


h2 {
    margin: 0 0 5px;
    font-size: 24px;
}

.subtitle {
    color: #b5b5b5;
    margin-bottom: 20px;
}

/* Shop button */
.shop-btn {
    width: 100%;
    padding: 15px;
    background: #5a3bff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    margin-bottom: 25px;
    transition: 0.2s;
}

.shop-btn:hover {
    background: #472fd4;
}

/* Divider */
.divider {
    display: flex;
    align-items: center;
    margin: 15px 0;
    color: #888;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #333;
}

.divider span {
    margin: 0 10px;
}

/* Input */
.input {
    width: 100%;
    padding: 14px;
    background: #222;
    border: 2px solid #333;
    border-radius: 8px;
    font-size: 15px;
    color: white;
    margin-bottom: 20px;
}

.input:focus {
    border-color: #5a3bff;
    outline: none;
}

.continue-btn {
    width: 100%;
    padding: 14px;
    background: #2b2b2b;
    border: none;
    color: #777;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}



.empty-cart {
  text-align: center;
  font-family: Arial, sans-serif;
   background-color: black;
  color: white; 
  padding: 40px 20px;
  height: 250px;
}

.empty-cart-title {
  font-size: 28px;
  letter-spacing: 2px;
  margin-bottom: 30px;
  color: #e5e5e5;
}

.empty-cart-box {
    max-width: 400px;
  margin: 60px auto; 
  border: 1px solid #2a2a2a;
  background: #141414;
  padding: 30px 20px;
  margin-bottom: 25px;
  border-radius: 6px;
}

.empty-cart-text {
  color: #aaa;
  font-size: 16px;
}

.empty-cart-btn {
  display: inline-block;
  padding: 10px 25px;
  color: #fff;
  text-decoration: none;
  border: 1px solid #3a3a3a;
  background: linear-gradient(145deg, #1a1a1a, #0d0d0d);
  letter-spacing: 1px;
  border-radius: 4px;
  transition: background 0.3s;
}

.empty-cart-btn:hover {
  background: #1f1f1f;
}
 /*size chart*/
.sizechart-section {  
  background-color: black;
  color: white; 
  padding: 40px 20px;
  height: 2500px;
}


.product-section {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align everything to left */
  gap: 60px; /* Space between image and text */
  padding: 80px 8%;
  border-bottom: 1px solid #eee;
}

/* IMAGE BOX */
.image-box {
  flex: 1;
  padding-left: 40px; /* Margin sa left side */
}

.image-box img {
  width: 100%;       /* Fill the image-box width */
  max-width: 600px;  /* Max width limit */
  height: auto;
  display: block;
}

/* TEXT BOX */
.text-box {
  flex: 1;
}

.text-box h1 {
  font-size: 42px;
  margin-bottom: 20px;
}

.text-box p,
.text-box li {
  font-size: 16px;
  line-height: 1.7;
  color: #555;
}

.text-box ul {
  padding-left: 20px;
}

.product-section:nth-child(even) {
  flex-direction: row-reverse; /* image sa right sa even sections */
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .product-section {
    flex-direction: column;
    text-align: center;
  }

  .text-box h1 {
    font-size: 34px;
  }

  .image-box {
    padding-left: 0;
  }

  .image-box img {
    max-width: 100%;
  }
}

